# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# IntelliJ/Android Studio
.idea/
*.iml

# Kotlin/Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore

# APK/AAB
*.apk
*.aab

# Heap dumps
*.hprof
